html { overflow-y: hidden; }
body {
	margin: 0;
	padding: 0;
	border:0;
	font-family: Courier;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
	 color: white;
		text-decoration: none;
		font-family: Courier;
}


.header {
	background-color: #5f9ea0;
	font-size: 14px;
	color: white;
	padding: 5vh;
}

h1 {
	float: left;
}

h2 {
	float: right;
}

h3 {
	margin-left: 5vh;
	font-size: 14px;
	color: #5f9ea0;
}

.footer {
	background-color: #5f9ea0;
	margin-top: 3vh;
	padding: 7vh;
}

canvas {
	margin:auto;
	top: 0;
	left: 0;
	position: absolute;
}
